<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,171},{189,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,73}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>login_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,108},{340,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,132}}</string>
                <key>sourceSize</key>
                <string>{340,132}</string>
            </dict>
            <key>login_btn_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,108},{338,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{338,132}}</string>
                <key>sourceSize</key>
                <string>{340,132}</string>
            </dict>
            <key>login_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,252}}</string>
                <key>sourceSize</key>
                <string>{531,252}</string>
            </dict>
            <key>login_selectserver_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{584,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,167}}</string>
                <key>sourceSize</key>
                <string>{584,167}</string>
            </dict>
            <key>login_selectserver_innerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{665,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,104}}</string>
                <key>sourceSize</key>
                <string>{665,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.pvr.ccz</string>
            <key>size</key>
            <string>{1803,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e787fac0b1ee2ad1361782ec74524903:1/1$</string>
            <key>textureFileName</key>
            <string>login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
